/* You can add global styles to this file, and also import other style files */

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  /* background-image: url(src/assets/bg5.jpg) */
}

#quotes {
  padding: 20px;
  text-align: center;

  color: rgb(255, 4, 4);
  font-size: 38px;
  margin-bottom: 2rem;
  font-family: 'Kaushan Script', cursive;
}


